node_modules
npm-debug.log*
.git
.gitignore
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
Makefile
README.md
PROJECT.md
1.gif
*.md
.DS_Store
.db
scripts
server/server.jar
server/run.sh
server/server_lib
server/src
